# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# OpenFOAM wmake Files
*.dep
lnInclude/
linux64GccDPOpt/

# Text backup files
*~
