# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# OpenFOAM wmake Files
*.dep
lnInclude/
linux64GccDPOpt/
linux64GccDPDebug/

# Decomposed case folders and solution files
processor*/
*.gz

# Text backup files and misc
*~
Thumbs.db
*.asv
*.png
*.tif
*.foam
log*
*.log
images*/
data*/

# Run folder
run
